/* @import url('https://fonts.googleapis.com/css?family=Lato:100&effect=neon');
@import url('https://fonts.googleapis.com/css?family=Atma'); */

@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Roboto:wght@300&display=swap');
* {
  font-family: 'Fuzzy Bubbles', cursive;
  font-family: 'Roboto', cursive;
}

nav {
  margin-left: 35px;
  font-size: 16px;
  word-spacing: normal;

  /* list-style-image: url('starsolid.gif'); */
}
.nav a {
  display: block;
}
body {
  background-size: 15px 15px;
  background-image:
    linear-gradient(to right, rgba(245, 226, 226, .4) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(245, 226, 226, .4) 1px, transparent 1px);
}

.index {
font-size: 30px;
  background-image:
    linear-gradient(to right, rgba(245, 226, 226, 0.4) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(245, 226, 226, 0.4) 1px, transparent 1px);
background-size: 15px 15px;
  height: 1%;
  /* font-family: 'Atma'; */
}
.show {
    color-scheme: rgb(187, 110, 110);
    /* font-family: 'Atma'; */
    font-size: 19px;
}
h2{
  text-align: center;

}
h1 {
  font-family: 'Crimson', cursive;
color: #b3c3da;

  text-shadow: 1px 1px 1px rgb(225, 60, 60);
  padding: 5px 5px 5px 5px;

  text-align: left;

}

a {
  color: forestgreen;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(212, 164, 150);
  font-size: 1.5em;
  margin-left: -1em;
  /* background: rgb(23, 48, 136); */
}

a:hover {
    color:  rgb(212, 164, 150);
}

li {
  list-style: none;
  color: rgb(212, 164, 150);
  font-size: 22px;

}

li a {
  color: rgb(212, 164, 150);

}

input[type=text] {
  border-style: inset;
  width: 400px;
  border-radius: 5px;
  background-color:rgb(242, 233, 222) ;
  height: 14px;
}

input[type=submit] {
  padding: .3em;
  color: #4CAF50;
  background: none;
  font-size: 1em;
  border-radius: 10%;
  border: none;
  border: 2px dotted #4CAF50;
  
  

}
p {

color: gray;

  /* font-family: 'Dancing Script', cursive; */
  font-size: 21px;
  letter-spacing: 1px;
  word-spacing: 5px;

  margin-left: 35px;
  margin-right: 30px;

}

p > a:hover {
  color: forestgreen;
}

/* .title {
 font: url('https://fonts.googleapis.com/css?family=Lato:100&effect=neon')
} */

