@import url('https://fonts.googleapis.com/css?family=Lato:100&effect=neon');
@import url('https://fonts.googleapis.com/css?family=Atma');

nav {
  font-size: 12px;
  word-spacing: 1em;
}
/* (https://media.istockphoto.com/vectors/cannabis-vector-id483151619?b=1&k=20&m=483151619&s=170667a&w=0&h=2LNN6cy4NvfwmassnzQA8e8N1iMWt2_SxR_hJ3kg7XA= */
body {
  margin: 0;
  font-family: 'Crimson', sans-serif;
  background-color: antiquewhite;
  background-size: cover;

}

.index {
  /* font-family: 'Crimson', cursive; */
  font-size: 19px;
  /* Lined background */
  background-image: linear-gradient(#d1d5db 1px, transparent 0px);
  background-size: 100% 1.5em;

  font-family: 'Atma';
  /*
  Display the content on top of the lines.
  The line height must be the same as the background size defined above
  */
  background-position-y: 1.5rem;
}


	.show {

    font-family: 'Atma';
    font-size: 19px;
    /* Lined background */
    background-image: linear-gradient(#b3c3da 1px, transparent 20px);
    background-size: 100% 1.5em;
    background-position-y: 6.5rem;
 
  }





h2{
  text-align: center;

}
h1 {
  font-family: 'Crimson', sans-serif;
  background:  antiquewhite;
  /* border-color: darkred; */
  border-style: double;
  text-shadow: 1px 1px 1px rgb(225, 60, 60);
  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
  color: blanchedalmond;
}

a {
  color: forestgreen;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(212, 164, 150);
  font-size: 1.5em;
  margin-left: -1em;
  /* background: rgb(23, 48, 136); */
}

a:hover {
    color:  rgb(212, 164, 150);
}

li {
  list-style: none;
  color: rgb(212, 164, 150);

}

li a {
  color: violet;
}

input[type=text] {
  padding: .3em;
  border: none;
}

input[type=submit] {
  padding: .3em;
  color: #4CAF50;
  background: none;
  font-size: 1em;
  border-radius: 10%;
  border: none;
  border: 2px solid #4CAF50;
  
  

}
p {
  color: rgb(173, 6, 6);
 font: url('');
}

.title {
 font: url('https://fonts.googleapis.com/css?family=Lato:100&effect=neon')
}
