@import url('https://fonts.googleapis.com/css2?family=Quicksand');

* {
  font-family: 'Quicksand', sans-serif;


}


nav {
  margin-left: 35px;
  font-size: 16px;
  word-spacing: normal;
  text-decoration: none;

  /* list-style-image: url('starsolid.gif'); */
}

.nav a {
  display: block;
  text-decoration: none;
}

/* body {
  background-size: 15px 15px;
  background-image:
    linear-gradient(to right, rgba(245, 226, 226, .4) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(245, 226, 226, .4) 1px, transparent 1px);
} */


.show {
  border: 100px solid transparent;
  padding: 5px;
  border-image: url('./images/key.png') 390 stretch;
  background-repeat: calc(1);
  /* background-image: url('./images/key.png');
  background-repeat: repeat-x; */
}

.show .nav {
  display: block;




}

.show h1 {
  text-align: center;
}

.show h2 {
  text-align: center;
}

.show h3 {
  text-decoration: underline;
  text-align: center;
}

.show body {
  border-style: dotted;
}

h2 {
  text-align: center;
}

h1 {
  color: #6a329f;
  text-shadow: 1px 1px 1px rgb(225, 60, 60);
  padding: 5px 5px 5px 5px;
  text-align: left;
}

a {
  color: forestgreen;

  text-shadow: 1px 1px 1px rgb(212, 164, 150);
  font-size: 1.5em;
  margin-left: -1em;
}

a:hover {
  color: #6a329f;
}

li {
  list-style: none;
  color: #6a329f;
  font-size: 22px;
}

li a {
  color: #6a329f;
}
input[type=checkbox] {
  font-size: 40px;
}

input[type=text] {
  border-style: none;
  width: 900px;
  border-radius: 5px;
  background-color: #8fce00;
  font-size: 22px;
  height: 52px;
  margin-bottom: 5%;
}

input[type=submit] {
  color: #8fce00;
  background: #6a329f;
  font-size: 20px;
  border-radius: 15%;
  border: 6px dotted #7f9d80;
  float: right;
  line-height: 45px;
}

input[type=submit]:hover {
  background-color: #8fce00;
  height: 52px;
}
p {
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: normal;
  padding-bottom: 0px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0%;
}

p>a:hover {
  color: forestgreen;
}


body {
  padding: 3%;
  width: 85%;
  border: ridged blueviolet;
  background:
    radial-gradient(rgba(212, 241, 250, .1) 30px, transparent 30px) -30px -30px,
    radial-gradient(rgba(223, 160, 196, .2) 30px, transparent -30px);
  background-size: 60px 60px;
  background-color: rgba(255, 250, 202, .1)
}
form {
  font-size: 20px;
  line-height: 40px;
}

.instructions {
  text-align: left;
}